[2019-09-26 03:48] alfg opened #7 "🎃 Welcome to Hacktoberfest! 🎃"
![Hacktoberfest](https://hacktoberfest.digitalocean.com/assets/logo-hf19-full-10f3c000cea930c76acc1dedc516ea7118b95353220869a3051848e45ff1d656.svg)

# Welcome to [Hacktoberfest](https://hacktoberfest.digitalocean.com/)!

We're looking for more contributors to submit a drink recipe of their choice! Also feel free to suggest any changes or bug fixes!

More issues will be created soon with varying di

[2019-09-26 07:48] ConnectNitish commented on #7
I would like to contribute here. Is there any specific based drink can be added or it is open to all type of drinks.

[2019-09-26 15:58] alfg commented on #7
@ConnectNitish Any kind of mixed drink or cocktail works.

[2019-09-26 17:26] alfg commented on #7
Open to all drinks and will eventually add more search options to filter by drink types!

[2019-09-30 17:58] alfg opened #20 "Add a drink! 🍸"
Hacktoberfest starts today! Add your drink recipes by forking and submitting a pull request.

Check back for updates for upcoming challenges. I'll be adding feature requests and bug fix requests for varying difficulty levels.

Also, be sure to check out the [Contributing Guidelines](https://github.com/alfg/opendrinks/blob/master/CONTRIBUTING.md) before submitting a pull request. :)

Happy hacking!

[2019-09-30 21:48] alfg opened #32 "Find typos in recipes"
Some recipes may have typos in their description or instructions. Feel free to send a PR to add a correction.

[2019-10-01 02:55] alfg opened #37 "Logo + Header should link to the homepage"
https://opendrinks.netlify.com

Update the logo and header so when clicked, they link to the homepage.

https://github.com/alfg/opendrinks/blob/d0eae5071644a2f2c27e383e6111fda69f17639f/src/App.vue#L5-L8

This may need to be implemented via Vue Router's `:to` feature.

[2019-10-01 03:05] alfg opened #38 "Fix margin spacing for mobile devices"
https://opendrinks.netlify.com on iOS using an iPhone X looks like this:
![opendrinks-iphone](https://user-images.githubusercontent.com/702541/65931251-b9f9f100-e3bd-11e9-9dd1-6a519ec88a81.jpeg)

---

Add some margin-bottom spacing using Bootstrap's `mb` css class.

[2019-10-01 03:35] nimitbhargava commented on #37
@alfg I'd like to take up this issue. Is it okay?

[2019-10-01 03:45] alfg opened #43 "Feature request: Drink recipe sources"
Since many recipes may have come from another source, it would make sense to add an optional source URL to the recipe.

For example, on the recipe: https://opendrinks.netlify.com/recipe/bloody-mary:

After "Directions", we can add a section for attributing a source, formatted nicely.

![Capture](https://user-images.githubusercontent.com/702541/65932576-1d3a5200-e3c3-11e9-8d89-2a6594c132c2.PNG)

Th

[2019-10-01 03:58] alfg commented on #37
This is currently being worked on https://github.com/alfg/opendrinks/pull/40

[2019-10-01 04:07] nimitbhargava commented on #37
Alright 👍

[2019-10-01 04:10] alfg opened #47 "Feature request: Title should contain the drink name"
The `<title />` of a recipe page should contain the drink name that is currently loaded.

For example, if viewing: https://opendrinks.netlify.com/recipe/cosmopolitan

The title of the browser tab/window should say:
`🍸 Open Drinks - Cosmopolitan`.

This will help with SEO and looks nice on navigation.

[2019-10-01 04:35] alfg opened #50 "💡 Ideas"
Looking for ideas, suggestions and feedback for https://opendrinks.netlify.com.

Feel free to post them here.

[2019-10-01 06:55] robsel118 commented on #32
Having a look at it, will PR if I find some.

[2019-10-01 07:56] robsel118 commented on #47
Can I try this one out ?

[2019-10-01 07:58] alfg commented on #47
@robsel118 go for it!

[2019-10-01 09:29] soer7022 commented on #38
This should be fixed by my pull request

[2019-10-01 09:54] robsel118 commented on #43
Looking at it, will PR

[2019-10-01 17:33] #38 closed

[2019-10-01 17:41] alfg commented on #47
https://github.com/alfg/opendrinks/pull/60

[2019-10-01 17:41] #47 closed

[2019-10-01 19:37] ArelySkywalker commented on #50
Some ideas I have (I have a similar app that i built!) 😄:

- Recommended Serving Glass
- Search by Ingredient
- Type of drink (Cocktail, Juice, Coffee, Tea, etc)

I would love to help contribute for Hacktober Fest! 🎃

[2019-10-01 19:44] alfg commented on #43
https://github.com/alfg/opendrinks/pull/65

[2019-10-01 19:44] #43 closed

[2019-10-01 19:49] alfg commented on #50
Good ideas @ArelySkywalker!

I plan on opening a few feature requests for search filtering and adding tags to the drink recipe json. Recommended Serving Glass would be nice as an optional field.

[2019-10-01 20:32] #37 closed

[2019-10-02 02:35] alfg opened #101 "Feature Request: Recipe Keywords"
Similar to: #43, I would like to add `keywords` to the recipe JSON schema. This would be an optional array of strings so we can support adding "keywords" to recipes. This will allow us to add search filtering options.

For example:
[code]

This requires 3 parts:
* Update the JSON recipe template
* Update the recipe component to display the keywords (if provided) using [Bootstrap badges](https://bo

[2019-10-02 02:53] alfg opened #102 "Feature Request: Search by Ingredients"
As a user, I would like to search by drink ingredients. For example, if I search `vodka`, then the search results should return back related drinks with `vodka` in their `ingredients` list.

This should be implemented on the "Search" view. The UI is open to suggestions, but should take advantage of Bootstrap Vue if possible and will require extending the RecipeFind.vue component.

Since this is a

[2019-10-02 02:55] alfg commented on #50
#101 and #102 created. Feel free to take on any of these if you like!

[2019-10-02 02:58] ArelySkywalker commented on #50
Awesome, thanks!!

[2019-10-02 05:40] VVNoodle commented on #101
Looking at it! will PR

[2019-10-02 05:43] SorielV commented on #50
Some tools that may be useful.
[Gridsome](https://gridsome.org]) JamStack
[Vuex](https://vuex.vuejs.org/) Store

[2019-10-02 05:54] alfg commented on #50
Hi @SorielV,

I am not too familiar with Gridsome, but checking into it.

For Vuex, I'm not sure it seems necessary to use a centralized store for this app yet, but where do you feel it might be needed?

[2019-10-02 09:48] TobyAsE commented on #102
I'd like to tackle this challenge.

[2019-10-02 21:11] FarhiaM commented on #20
Hi! Can i work on this issue? :)

[2019-10-02 21:18] alfg commented on #20
@FarhiaM go for it! Add a recipe! 🍸

[2019-10-02 21:49] TobyAsE commented on #50
Add the capability to export a chosen recipe. Either as a printable page/pdf or machine-readable (just dump the json...)

[2019-10-02 22:34] alfg commented on #102
#116

[2019-10-02 22:34] #102 closed

[2019-10-02 22:38] alfg commented on #101
#110

Thanks @VVNoodle !

[2019-10-02 22:38] #101 closed

[2019-10-02 23:17] PatrickLohan commented on #102
Checkboxes available for search filtering now available.
Bug encountered: not showing recipes by ingredient if they have that ingredient also in title, e.g. Vodka Martini, or Banana Smoothie

[2019-10-02 23:19] alfg commented on #102
@PatrickLohan Nice catch. Can you open this bug as an issue?

[2019-10-02 23:20] PatrickLohan opened #124 "Search by ingredients bug if ingredient also in title"
Bug encountered: not showing recipes by ingredient if they have that ingredient also in title, e.g. Vodka Martini, or Banana Smoothie.

[2019-10-02 23:21] alfg commented on #124
@TobyAsE if you want to check this out?

[2019-10-02 23:23] PatrickLohan commented on #102
Updated post. Now I know I can reference issue and create in one go haha!

[2019-10-02 23:35] VVNoodle commented on #50
Add a similar drinks section for each recipe. Similar drinks are drinks that have common keywords/ingredients. We can limit the number of recommendation and pick the ones that have the most similarities.

[2019-10-03 05:04] alfg opened #133 "Feature Request: Export recipes as a print-friendly page"
Would like a feature to have a print-friendly page for a recipe view.

Bonus points if it can export to a PDF file.

_Originally posted by @TobyAsE in https://github.com/alfg/opendrinks/issues/50#issuecomment-537696571_

[2019-10-03 05:08] alfg opened #134 "Feature request: Display similiar drinks on a recipe page"
_Originally posted by @VVNoodle in https://github.com/alfg/opendrinks/issues/50#issuecomment-537724513_

Open to feedback and suggestions. The UI should take advantage of Bootstrap Vue components if possible.

[2019-10-03 05:09] alfg commented on #50
Good ideas @TobyAsE and @VVNoodle. I've added #133 and #134 respectively.

[2019-10-03 05:51] alfg opened #139 "Tag drink recipes with keywords"
We need help tagging drink recipes with keywords so we can improve our search function. We have many recipes that have no keywords tagged, as this was a new feature.

Example of a properly tagged drink:
https://github.com/alfg/opendrinks/blob/master/src/recipes/ginger-milk-tea.json#L49-L52

Some notable keywords to add:
* `non-alcoholic`
* `coffee`
* `tea`
* `vegan`
* `smoothie`

Keywords can be a

[2019-10-03 05:53] VVNoodle commented on #134
On it!

[2019-10-03 06:16] sumanismcse commented on #139
I am adding keywords to three of the recipes.

[2019-10-03 06:36] TobyAsE commented on #124
Yes, I'll have a look

[2019-10-03 13:08] franciscoemanuel commented on #133
Working on it

[2019-10-03 17:48] #124 closed

[2019-10-03 22:05] TobyAsE commented on #50
A list view where all the drinks are shown. Maybe in list form or as a tiled display.
Should be sortable by keywords.

[2019-10-04 01:28] hillarysousa commented on #139
I'll be adding keywords too

[2019-10-04 01:41] pedrowoy commented on #139
I'll add keywords too

[2019-10-04 01:50] alfg opened #163 "Feature request: Pagination on Explore view"
As the recipe list is growing, we'll need to start paginating the full list of recipes in the Explore view instead of loading them all at once to improve on performance. I would also like this implemented before we can start adding filtering and sorting options on the explore page.

This task involves the following:
1) Dynamically load the json files so we can support paging. This will probably re

[2019-10-04 02:06] alfg commented on #50
@TobyAsE This is currently the explore page, but hopefully we can get pagination added first, then we can add filters/sorting. I added #163 as the feature request.

[2019-10-04 07:20] alfg commented on #134
Algorithm added on:
https://github.com/alfg/opendrinks/pull/173

UI to be implemented next.

[2019-10-04 08:09] TobyAsE commented on #50
Wow, @stevenanthonyrevo was fast.
Once #175 is merged, we can add the keyword filter.

[2019-10-04 10:55] TobyAsE commented on #134
Are you working on the ui @VVNoodle or may I try to come up with something reasonable?

[2019-10-04 11:00] TobyAsE commented on #50
As @VVNoodle said in #173 , I also think that it would be a great idea to seperate the ingredients into multiple parts. `name` and `quantity` are obvious, I would also add something like `comment`.
This could be quite a task to apply to all recipes now, but it's just a bit of tedious work.
This would make searching and comparing way easier down the road.

[2019-10-04 15:17] Vanoux commented on #139
I Checked and added keywords missing for recipes A to C

[2019-10-04 23:34] alfg commented on #50
Yeah, I like the idea of updating ingredients into `name` and `quantity`. But yes, it can be a tedious task to update the existing ones. Or a one-off script to update all of them.

[2019-10-04 23:38] Assisting commented on #50
I could take a crack at writing something for that, I've done some similar work in the past in Python.

[2019-10-05 00:02] alfg commented on #50
That would be great! Feel free to try and let us know!

[2019-10-05 00:25] joamarderije commented on #20
Hi, I add up new type of drink in your list, one of the proud of mix by us Filipinos :D

[2019-10-05 00:46] VVNoodle commented on #134
nope i'm not it's all yours!

[2019-10-05 02:36] Assisting commented on #50
Well, the results are in PR #186. I feel like it went OK, although some of the weights and measures were pretty loose in these ingredient lists and so I didn't try to normalize the inputs or anything.

[2019-10-05 03:28] alfg commented on #50
Thanks @Assisting! I've updated the [CONTRIBUTING](https://github.com/alfg/opendrinks/blob/master/CONTRIBUTING.md) docs with the updated JSON schema for ingredients!

[2019-10-05 04:08] alfg opened #190 "Feature request: Truncate recipe descriptions on "Explore" view"
Some recipes have long descriptions and causes the formatting on the "Explore" page to be misaligned.

I would like for the description to be truncated with an Ellipsis when viewing recipes on the Explore page. This should also help with the alignment and formatting of each recipe "card" on the Explore page.

For example:
![Capture](https://user-images.githubusercontent.com/702541/66249608-f514610

[2019-10-05 04:18] alfg commented on #163
Thanks @stevenanthonyrevo!

[2019-10-05 04:18] #163 closed

[2019-10-05 04:18] alfg commented on #133
Thanks @franciscoemanuel !

[2019-10-05 04:18] #133 closed

[2019-10-05 04:29] edumello commented on #190
Can I work on this one?

[2019-10-05 04:29] alfg opened #191 "Feature request: Search Drinks by Keywords"
OpenDrinks now has support for keywords!

Lets update our search function to support searching by keywords:
https://opendrinks.netlify.com/search

[2019-10-05 04:30] alfg commented on #190
Go for it @edumello !

[2019-10-05 04:50] alfg opened #192 "Feature request: Sorting and Filtering on Explore View"
Now that we have support for keywords, I would like to update our Explore view to support sorting and filtering options.

This will allow the user to to sort the recipe list by name, or optionally filtering down the recipe list by adding keywords or ingredients.

The UI and implementation is up for discussion, but should take advantage of Bootstrap Vue where possible.

Feel free to add any feedbac

[2019-10-05 05:15] Chrispy404 opened #193 "Search displays max 10 items"
Since the drinks list is growing and there are more ways to search of drinks, the search results should either use work the same way as "Explore" now does, or simply display more results.

Currently if i search for 'Gin' as an ingredient the Negroni isn't shown due to its alphabetic placement. Funnily enough though the Dark and Stormy is returned due to the 'Gin' in 'ginger beer', although this wo

[2019-10-05 05:31] alfg commented on #193
Ah, good point! I will increase the search results. I will increase to 50.

[2019-10-05 05:35] alfg commented on #193
Should be updated now. I think 50 might be good for now, since there are plans to improve the search feature.

Let me know what you think?

[2019-10-05 06:06] edumello opened #195 "Fix image sizes"
Need to fix some drink image sizes.

They are breaking the explore page.
![image](https://user-images.githubusercontent.com/8681314/66250752-ee88f680-e789-11e9-959a-cc823c17058c.png)

[2019-10-05 06:22] alfg commented on #195
Yeah, the contributing spec is 600x400px. However, some images were submitted with a similar size and I still approved. Is this something that can be fixed via CSS?

[2019-10-05 07:39] Chrispy404 commented on #193
looks great for now!

[2019-10-05 07:39] #193 closed

[2019-10-05 10:00] Chrispy404 commented on #191
Gave this one a crack. Was quite good fun!

As mentioned in the pull request the search did come with one slightly annoying bug (non program breaking) where certain drinks are displayed when an empty space is entered. I'm not sure what causes this, whether its the search itself or something to do with those JSON objects.

If anyone is able to solve this please let me know.

[2019-10-05 14:09] Kenzo604 commented on #139
Reviewed bottom up and added PR to tag some common keywords to recipes titled W-Z.

[2019-10-05 15:26] TobyAsE commented on #134
I'll work on it.

[2019-10-05 15:29] TobyAsE commented on #192
I'd like to work on it once #134 is finished.

[2019-10-05 19:39] alfg commented on #195
Fixed on https://github.com/alfg/opendrinks/pull/201. Thanks @alexjharrison!

[2019-10-05 19:39] #195 closed

[2019-10-05 19:45] alfg commented on #191
Thanks @Chrispy404! I'll open another issue for the bug described above.

I'm also going to be opening one soon for the search results to show the keywords in the results!

[2019-10-05 19:54] TobyAsE commented on #50
I just added prettier to my project locally and I am getting screamed at. Maybe we should require a linter in the project to keep the style consistent across the codebase.

[2019-10-05 20:04] alfg commented on #190
Fixed on #194

[2019-10-05 20:04] #190 closed

[2019-10-05 20:05] alfg commented on #134
Sounds good, @TobyAsE!

[2019-10-05 20:08] alfg commented on #50
Hey @TobyAsE, would this be different from the supplied `.eslintrc` file? I think this was part of the `vue-cli` generator.

I've been re-linting some of the warnings popping up occasionally.

[2019-10-06 01:25] alfg opened #211 "Bug: Certain drinks are displayed when an empty space is entered in Search."
Example:
https://user-images.githubusercontent.com/29446717/66253294-39663680-e7a9-11e9-9ec2-aa9aa952b45a.png

If anyone is able to solve this please let me know.

_Originally posted by @Chrispy404 in https://github.com/alfg/opendrinks/issues/191#issuecomment-538635857_

[2019-10-06 01:25] #191 closed

[2019-10-06 01:43] Chrispy404 commented on #211
Also should note this bug is only relevant when searching by Keyword. When searching by ingredients and empty space does not return anything and when searching by name any name with a space in it is displayed.

[2019-10-06 06:56] dgupta04 commented on #211
Hey, I'd like to take this up!

[2019-10-06 08:31] TobyAsE commented on #50
Ah, I see. Somehow, eslint didn't recognize that (or I am stupid). It's working now an I'm occasionally getting some warnings. Could you create an issue for the re-linting, we could move this conversation there? ;)

[2019-10-06 08:41] TobyAsE commented on #192
Isn't this a bit redundant with #214 ?
Let's see if I can come up with something that is reasonable and useful regardless.

[2019-10-06 08:42] alfg opened #225 "Linting"
Discuss linting this project.

Currently there's an `.eslintrc.json` file, created by the `vue-cli` package. However, open to ideas to improve the linting and syntax style on this project.

[2019-10-06 08:43] alfg commented on #50
Sure, @TobyAsE. Created #225

[2019-10-06 08:46] alfg commented on #192
The keywords feature is great, but I think it would still be useful to have filtering controls on the Explore page.

[2019-10-06 08:53] TobyAsE commented on #192
I'll build something.
We should maybe only allow filtering for keywords that are used by 2 (whatever number fits) or more drinks, so we don't clutter the filtering-options.

[2019-10-06 12:44] TobyAsE commented on #192
See #229

[2019-10-06 15:59] kcusaac commented on #50
What about adding a feature for favoriting drinks? It can be stored in the browser.

[2019-10-06 17:47] TobyAsE commented on #50
@kcusaac sounds like a good idea to me.
If the user has stored some drinks as favourite, we can display them quick and easy on the main page.

[2019-10-06 18:36] shultztom commented on #50
Would it make sense to have a .nvmrc or specify the version of node in the package.json? With this many contributors, it might be nice to all be on the same version of node.js

[2019-10-06 18:56] alfg commented on #50
@kcusaac This is a great idea and something I had in mind to propose as a feature request. Something like saving favorites to local storage by "starring" a drink. I'll add the feature request today.

[2019-10-06 19:05] alfg commented on #50
@shultztom Yes, good call. I'll add one with the latest LTS version (v10.16.3)

[2019-10-06 19:07] shultztom commented on #50
I've made a PR here if would want to look at that

https://github.com/alfg/opendrinks/pull/232

[2019-10-06 19:09] alfg commented on #50
@shultztom Thanks, checking it out now.

[2019-10-06 21:05] d-szymanski commented on #225
I've created a [PR](https://github.com/alfg/opendrinks/pull/235) with prettier that follows current rules.
I am all in for Airbnb style, as it's well known and supported project.

[2019-10-06 22:55] #211 closed

[2019-10-07 00:43] alfg commented on #50
Another idea as the project continues to grow in features would be to add unit testing. Jest and Mocha seem to be supported for component and unit testing.

[2019-10-07 00:49] alfg commented on #225
Sounds good. Checking it out now. I'm also all for airbnb style!

[2019-10-07 06:16] TobyAsE commented on #192
As #229 is merged, I believe this issue can be closed.
Could you open a new issue for filtering by multiple keywords?

[2019-10-07 06:25] VVNoodle commented on #50
I'd be down to initiate a test environment. Should we create a __tests__ folder mimicking the src folder, or have the test side-by-side with the file to be tested?

[2019-10-07 06:38] TobyAsE commented on #50
To make contributing a recipe easier we could build a recipe-builder with a nice ui that generates the json of a recipe.

[2019-10-07 06:45] alfg commented on #50
I'd say in a `tests` folder.

[2019-10-07 06:53] alfg commented on #50
This is cool idea, but I feel if we go that route, we might as well build out a full API backend (which is out of scope for this project) since that's kinda creating a form for it, ha. However, I'm trying to keep the project strictly a static website for now.

For Hacktoberfest, I like the idea of recipes being submitted as JSON by users, but we can revisit this in the future.

Maybe some kind of

[2019-10-07 06:55] alfg commented on #192
Will do!

[2019-10-07 06:55] #192 closed

[2019-10-07 06:58] alfg opened #248 "Feature request: Explore view to support filtering multiple keywords"
The Explore view can now filter recipes by a keyword. It would be great if it can support entering multiple keywords to narrow down the recipe list.

For example, adding keywords `vodka` and `lime` can bring up recipes that contain both keywords.

[2019-10-07 06:58] alfg commented on #192
#248

[2019-10-07 08:16] TobyAsE commented on #248
I'll do it ;)

[2019-10-07 10:34] TobyAsE commented on #134
See #252, I used the `b-card`

[2019-10-07 10:40] TobyAsE commented on #50
I'll have a look into creating a validator.
A bot sounds like a nice idea

[2019-10-07 10:43] TobyAsE opened #253 "Recipe Validation"
As discussed in #50 a validator for submitted recipes would be a nice thing to have.

[2019-10-07 10:45] TobyAsE commented on #253
I'll work on it.

[2019-10-07 22:34] joamarderije commented on #32
are this issues resolve already ?

[2019-10-08 02:21] VVNoodle opened #264 "Create test environment"
The project is getting bigger, and increased lines of code means increased possibility of bugs.

Setting up a testing environment will help catalyze development of unit tests in the future, and so will prevent bugs that would've otherwise never been spotted before.

As @alfg proposed, test environment will include the use of jest and mocha since they support component and unit testing.

Suggested

[2019-10-08 02:25] VVNoodle commented on #50
I've create an issue for creating the test environment. Can you assign it to me? Thanks!

[2019-10-08 02:28] alfg commented on #32
@joamarderije I'm leaving this issue open as we are getting PRs for recipes daily. So I'm sure there will always be some typos and grammar errors to correct. :slightly_smiling_face:

[2019-10-08 02:33] alfg commented on #225
https://github.com/alfg/opendrinks/pull/235

[2019-10-08 02:33] #225 closed

[2019-10-08 02:38] alfg commented on #264
Also, just to note: I'll be setting up a CI either via Github Actions or Travis to run these tests (and probably the linters). This way we can validate the incoming pull requests.

[2019-10-08 02:44] alfg commented on #50
@VVNoodle looks like there's a PR up for it on #265 as a starting point. Is this similar to what you had in mind too?

[2019-10-08 02:52] VVNoodle commented on #50
Yeah my bad didn't see that. I thought PRs should correspond to existing Issues.

[2019-10-08 03:43] alfg commented on #264
Ok, think I have Github Actions setup for running a `node install, build and test` workflow:
https://github.com/alfg/opendrinks/actions

You can see an example of the "checks" on this PR:
https://github.com/alfg/opendrinks/pull/266

[2019-10-08 03:46] Chrispy404 commented on #50
My bad @VVNoodle I got a little ahead of myself. I saw mention of testing in the ideas thread here the previous day, but there was never an issue made so i figured it had been overlooked or forgotten about and quickly put something together. As @alfg said, what I've put up is simply a starting point so if you're wanting to work on tests there's still plenty to do.

[2019-10-08 10:53] TobyAsE commented on #50
We're getting a few warnings when `npm install`, should we do something about this?

[2019-10-08 20:53] #134 closed

[2019-10-08 22:10] TobyAsE commented on #50
There is nothing we do with @kcusaac s favoring-Feature right now. We should change that. Output the favorites somewhere.

[2019-10-08 23:28] alfg commented on #50
@TobyAsE I believe @kcusaac mentioned he would create the Favorites view once #239 was merged. @kcusaac are you working on this?

[2019-10-08 23:35] alfg commented on #50
@TobyAsE I updated `package.json` to clear up 2 of the warnings from missing fields. Not sure how to fix the other 2, but I think they are minor and shouldn't really affect anything.

[2019-10-09 02:12] alfg commented on #264
Testing setup and example setup via https://github.com/alfg/opendrinks/pull/265

I'll create another issue for adding more tests.

[2019-10-09 02:12] #264 closed

[2019-10-09 02:18] alfg opened #281 "Add more tests"
Tests are setup via Jest from https://github.com/alfg/opendrinks/pull/265.

Looking for contributors to help add more tests.

Test Example is located at:
https://github.com/alfg/opendrinks/tree/master/tests/unit

See: [CONTRIBUTING.md](https://github.com/alfg/opendrinks/blob/master/CONTRIBUTING.md)

[2019-10-09 02:44] #248 closed

[2019-10-09 06:46] alfg commented on #281
#286 Adds a couple more simple tests. As well as fixing the `require.context` issue.

[2019-10-09 23:56] kcusaac commented on #50
Yeeh, I'll push it tomorrow. Do you think we should have a new tab with the favorites?

[2019-10-10 00:04] alfg commented on #50
@kcusaac Sure. A new tab is fine.

[2019-10-10 20:30] TobyAsE opened #307 "Unify the design"
There are a lot of inconsistencies in the design around the project. We should make sure that we use the same distances (margins, line-heights) everywhere, have common guide-lines (especially left and right) and so on. Right now there is a lot of different stuff loosely flying around.

![explore-filter](https://user-images.githubusercontent.com/6002167/66603219-fdb5dd00-ebab-11e9-8c95-162123a37e4d

[2019-10-11 07:28] alfg commented on #307
Yeah, we don't have any design guidelines as it's still an early project and I've just been letting Bootstrap Vue do much of the UI work with some minor CSS modifications. However since there's been so many drastic changes lately, it might be a good idea to figure this out.

What are some of your recommendations?

[2019-10-11 08:32] TobyAsE commented on #307
I'll write some design guidelines and make a PR.
I'll define guidelines and standard-margins and whatever else comes to mind.
What really triggered me to open this issue was the way on the right side of the page nothing really aligns in #303 . After that I've noticed a lot of small things.
The cards used for the explore page and the similar drinks have different spacing horizontally and vertically

[2019-10-11 19:13] alfg commented on #307
OK, sounds good. I would like to keep the design minimal and sorta similar to how Github's layout looks (kinda why I like bootstrap's style).

It would be great if we can solve any of the guideline and global styling by adding a globals.css or something to override some of the Bootstrap styles that we want to modify. This way we can keep the style modifications out of any of the individual compone

[2019-10-12 01:30] #20 closed

[2019-10-12 01:32] alfg opened #323 "Add a Drink Recipe! 🍸"
Welcome to Hackoberfest 2019! Add your drink recipes by forking and submitting a pull request.

We're looking to build a collection of drink recipes of all types! View the website at:
https://opendrinks.netlify.com/

Also, be sure to check out the [Contributing Guidelines](https://github.com/alfg/opendrinks/blob/master/CONTRIBUTING.md) before submitting a pull request. :)

Happy hacking! 🎃

[2019-10-12 04:24] tamarbuta commented on #323
Added Brandy Alexander

[2019-10-12 06:37] alfg commented on #50
Another idea and something I've been working on is to create a mobile app using the same recipe data as a "recipes feed" for the mobile app to fetch its data from.

I'm currently experimenting with React-Native/Expo to create the mobile app, and using Netlify's "Functions" service to implement "feeds" for the mobile app to consume.

Also, Netlify has also upgraded this project to their Open Source

[2019-10-12 09:18] anksos commented on #323
How can I commit on that specific Issue?

[2019-10-12 19:57] alfg commented on #323
Hi @anksos, you can just submit a PR with your drink recipe. It doesn't need to be committed on a specific issue, but you can just refer to #323 in the comment of the PR.

[2019-10-12 19:59] alfg commented on #281
#324

[2019-10-12 21:39] anksos commented on #323
@alfg I tried like 10 times always fails on the PR like I don't have access to do it on the branch. I created even my own branch still fails.

[2019-10-12 23:38] alfg commented on #323
@anksos Are you forking the project and committing the changes to your own fork?

[2019-10-13 02:07] sounak98 opened #354 "UI elements are not getting rendered as intended"
- Similar Drinks heading is not displayed above the Similar Drinks section
- Source is displayed two times

**Reproduce error**
Steps to reproduce the behavior:
1. Go to "https://opendrinks.netlify.com/recipe/thandai" or any page with a source
2. See error

**Screenshots**
<img width="725" alt="Screenshot 2019-10-13 at 7 33 00 AM" src="https://user-images.githubusercontent.com/22390515/66709959-54

[2019-10-13 02:09] alfg commented on #354
I'm working on fixing this exact page right now, ha. It'll be fixed shortly. We just merged in a new layout and I also noticed this page rendering incorrectly.

[2019-10-13 02:10] sounak98 commented on #354
@alfg nevermind then

[2019-10-13 02:14] alfg commented on #354
Can you re-check?

[2019-10-13 02:34] sounak98 commented on #354
<img width="760" alt="Screenshot 2019-10-13 at 8 04 01 AM" src="https://user-images.githubusercontent.com/22390515/66710135-0a932600-ed90-11e9-87f6-15a57c77e5b5.png">

The headings are misaligned and it looks weird. You can probably fix that.

[2019-10-13 02:45] alfg commented on #354
Working on it!

[2019-10-13 03:42] alfg commented on #354
Updated. Please check when you have a moment.

[2019-10-13 03:47] sounak98 commented on #354
Looks perfect 🎉

[2019-10-13 03:47] #354 closed

[2019-10-13 03:48] alfg commented on #354
Awesome, thanks!

[2019-10-13 03:54] alfg opened #357 "[Feature Request] Keyboard controls on search view results"
When searching for drinks, I would like to use my keyboard arrow keys to select a drink when more than 1 item is displayed in the results.

For example, this would be ideal:
* Go to search
* Type in "colada". 4 results are rendered.
* Press keyboard down arrow key to select the Piña Colada and hit enter to load the recipe

~~Bonus points if you can fix the search issue when searching drinks with a

[2019-10-13 04:01] alfg commented on #50
Another idea is eventually I would like to replace the Home/Random view with something like a "Featured" view. In this view we can display a curated list of drinks configured by a JSON schema.

It would be cool to create customized lists of drinks, by popularity, themed, seasonal, etc... Like Halloween based drinks. :) It would give it more of a true "homepage" feel.

[2019-10-13 04:11] kcusaac commented on #357
I'll fix the accent search.

[2019-10-13 04:33] #253 closed

[2019-10-14 08:42] gabbersepp commented on #281
I can try to add a few tests. I have never written tests for Vue but I am using Jest with React and enzyme. Should new tests be committed onto a new issue as it was done in #324?

[2019-10-14 08:47] gabbersepp opened #371 ""npm test" is reporting errors in console"
**Describe the bug**
Execute:
- npm install
- npm test

Tests are green but there are errors in the console:

`      SyntaxError: Invalid or unexpected token
          at new Script (vm.js:79:7)
          at ScriptTransformer._transformAndBuildScript (C:\Users\jbiehler\Git\opendrinks\node_modules\jest-runtime\build\script_transformer.js:403:17)
          at ScriptTransformer.transform (C:\Users\jb

[2019-10-14 09:25] anksos commented on #323
I tried to fork the project and commit on the same fork and i have forked the project created a new branch and tried to commit there. Both of them not working :/

[2019-10-14 16:59] tummala-manasa commented on #357
Hello @alfg , I have done changes for the keyboard controls. Please review my PR. #375 . Thanks!

[2019-10-14 18:20] alfg commented on #281
It's fine to create a PR without an attached issue. Or you can just link it to this one.

[2019-10-14 18:20] alfg commented on #323
Are you sure you are forking it? I don't see the fork listed on your account.

[2019-10-14 18:21] alfg commented on #371
Is this showing up in any of the CI builds too?

[2019-10-14 18:46] gabbersepp commented on #371
Yes, for example have a look here:
https://travis-ci.org/alfg/opendrinks/jobs/597764841 (scroll own a bit). Not sure how I can add pictures in github, sry.

[2019-10-14 19:00] alfg commented on #371
Ah, I see. I think it has something to do with a webpack file loader or something in tests. Interesting how it's on the `.jpeg` files, but not `.jpg`.

[2019-10-14 19:01] alfg commented on #371
I can't check right now, but can you try adding `jpeg` to the regex on:
https://github.com/alfg/opendrinks/blob/master/jest.config.js#L5

[2019-10-14 21:24] gabbersepp commented on #371
@alfg you are right. I did not have seen the config for jest-transform-stub. Works now after adding "jpeg" to the regex, too. So I removed the other code.

[2019-10-14 21:53] #371 closed

[2019-10-14 23:32] alfg commented on #357
@tummala-manasa Thanks! I'll check it out soon.

[2019-10-15 17:57] alfg commented on #357
@tummala-manasa added some suggestions on the PR whenever you have a moment to check it out.

[2019-10-16 05:04] alfg opened #396 "[Help Wanted] Add Drink Categories"
As part of #395, we now have a new homepage with featured drinks via a config file:
https://github.com/alfg/opendrinks/blob/master/src/featured.json

This should map to an existing drink in the list of recipes:
https://github.com/alfg/opendrinks/tree/master/src/recipes

I'm looking for help building a list of drink categories for the homepage. Either post them here or submit a pull request with yo

[2019-10-16 06:10] elliecodestheweb commented on #323
I hope I did this properly! Please let me know if I need to correct anything. Added Medicine Ball Tea to recipes.

[2019-10-16 06:20] elliecodestheweb commented on #396
I'd like to help by adding a category. "Cold Weather Favorites" - that way I can add more tea and coffee drinks!

[2019-10-16 06:22] alfg commented on #396
@elliecodestheweb That would be great! Can you add it to [featured.json](https://github.com/alfg/opendrinks/blob/master/src/featured.json)?

[2019-10-16 09:20] kirschstern commented on #396
Hi,

i made a pr, please have a look at [#404](https://github.com/alfg/opendrinks/pull/404)

[2019-10-16 18:26] alfg commented on #396
@jazzninja That sounds good! I like this idea.

[2019-10-17 02:43] alessandrojcm commented on #396
Hi, I would like to add a feature like "Hot Weather Recipes" for drinks that would be good for the beach or a hot summer day. Would that be ok?

[2019-10-17 03:11] jazzninja commented on #396
@alfg i've made the add to package.json and run a localized dev build of the package to confirm it works. Works great and i've submitted a PR to you. Thanks again!

[2019-10-17 03:24] alfg commented on #396
@alessandrojcm Yup, that's fine.

[2019-10-17 03:35] alfg commented on #396
@kirschstern Thanks! I left a suggestion on the PR.

[2019-10-17 03:41] alfg commented on #357
Resolved on #375

[2019-10-17 03:41] #357 closed

[2019-10-17 18:43] anksos commented on #323
@alfg can you check now if its okay?

[2019-10-20 20:49] SamuelPai commented on #396
Hi, I made a pull request for adding a new category for Strong Drinks (#463)!

[2019-10-21 02:16] alfg opened #472 "[Hacktoberfest] Add a Drink Recipe!"
There's still 10 days left of [Hackoberfest](https://hacktoberfest.digitalocean.com/) 2019! Add your drink recipes by forking and submitting a pull request.

We're looking to build a collection of drink recipes (and [categories](https://github.com/alfg/opendrinks/issues/396)) of all types! View the website at:
https://opendrinks.netlify.com/

Also, be sure to check out the Contributing Guidelines

[2019-10-21 02:16] #323 closed

[2019-10-21 02:27] alfg opened #475 "[Feature Request] Pagination should update URL with page number"
On any view that uses pagination (Explore/Keywords), the URL should be updated when paging through results. For example, if I go to page 3, the URL should be updated to `https://opendrinks.netlify.com/explore?page=3`. This will save the page number if I were to refresh.

This should be done by updating any of the Bootstrap Vue `pagination` components to use `pagination-nav` to track pages in the U

[2019-10-21 10:00] martkop12 commented on #475
Hi, i would really like to work on this task. Can you assign it to me ?

[2019-10-21 19:08] alfg commented on #475
@martkop12 Sure, go for it.

[2019-10-21 23:12] martkop12 commented on #475
#494

[2019-10-23 17:56] alfg commented on #475
Added on #494.

[2019-10-23 19:57] M-McCallum commented on #472
added Snake Bite! PR-https://github.com/alfg/opendrinks/pull/545

[2019-10-24 02:57] M-McCallum commented on #139
Added keywords and fixed formatting, with a focus on the vegan keyword, A - P.

PR's - https://github.com/alfg/opendrinks/pull/546, https://github.com/alfg/opendrinks/pull/548

[2019-10-24 19:15] alexjharrison opened #559 "Manifest Pointing to missing favicon"
![image](https://user-images.githubusercontent.com/8920897/67517466-aa925e80-f670-11e9-983f-c4cbb0af5b93.png)

In the manifest.json, it is pointing to a 192x192 & 512x512 favicon image.
https://github.com/alfg/opendrinks/blob/78e95fd7c020f8fe19c7dad329e6095a2100e609/public/manifest.json#L6

Either the manifest must be updated or the correct images must be created.

[2019-10-25 18:08] alfg commented on #559
Thanks. Will look into this.

[2019-10-26 02:59] #559 closed

[2019-10-27 11:40] GwenBischoff commented on #396
Hey, I made a PR for the category milky heaven (#608).

[2019-10-27 20:00] alfg commented on #396
@GwenBischoff Thanks, merged!

[2019-10-28 00:16] alfg commented on #50
https://opendrinks.io is registered and live!

[2019-10-29 03:35] #472 closed

[2019-10-29 03:36] alfg opened #633 "🎃 [Hacktoberfest] Add a Drink Recipe!"
There's just a few days left of Hackoberfest 2019! Add your drink recipes by forking and submitting a pull request.

We're looking to build a collection of drink recipes (and categories) of all types! View the website at:
https://opendrinks.io

Also, be sure to check out the Contributing Guidelines for the JSON spec and image sizing before submitting a pull request. :)

Happy hacking! 🎃

[2019-10-29 03:46] drahenshaw commented on #396
Would it be too late to make a "college" or "Homecoming" category for drinks?

[2019-10-29 03:48] alfg commented on #396
Go for it! 👍

[2019-10-29 18:53] voodoods commented on #633
See also: https://github.com/alfg/opendrinks/pull/650

[2019-11-02 00:28] alfg commented on #50
Thanks for all the ideas! This was a fun project!

[2019-11-02 00:28] #50 closed

[2019-11-02 00:31] alfg commented on #633
Thanks for contributing for Hacktoberfest 2019!

[2019-11-02 00:31] #633 closed

[2019-11-02 00:42] alfg commented on #396
Thank you all for the categories and for participating in Hacktoberfest 2019! See you again next year!

[2019-11-02 00:42] #396 closed

[2019-11-02 00:42] #307 closed

[2019-11-02 00:43] alfg commented on #7
Thank you all for participating in Hacktoberfest 2019! See you again next year!

[2019-11-02 00:43] #7 closed

[2019-11-02 00:43] alfg commented on #32
Thank you all for participating in Hacktoberfest 2019! See you again next year!

[2019-11-02 00:43] #32 closed

[2019-11-02 00:43] alfg commented on #139
Thank you all for participating in Hacktoberfest 2019! See you again next year!

[2019-11-02 00:43] #139 closed

[2019-11-02 00:43] alfg commented on #281
Thank you all for participating in Hacktoberfest 2019! See you again next year!

[2019-11-02 00:43] #281 closed

[2019-11-02 01:18] Assisting commented on #50
Good job team! Thanks for having us along for the ride @alfg! :clap:

[2019-11-03 02:33] VVNoodle commented on #50
Thanks @alfg for maintaining the project this past month and every contributors here for keeping the project active. Definitely learned quite a lot on contributing open source projects!

[2020-02-06 11:45] kavalcante opened #711 "i18n"
There's any plans for an i18n implementation for the project? I'd like to participate!

[2020-02-06 18:33] alfg commented on #711
Hi @kavalcante,

There are no plans currently for i18n, but PRs are welcome! 😄

[2020-10-01 01:12] alfg opened #725 "🎃 Welcome to Hacktoberfest 2020! 🎃"
![HF2020 Events 1600x400 Centered](https://user-images.githubusercontent.com/702541/94755105-35cba800-0348-11eb-85b5-3b531f53b0f7.png)

# Welcome to [Hacktoberfest](https://hacktoberfest.digitalocean.com/) 2020!

We're looking for contributors to submit a drink recipe of their choice! Also feel free to suggest any changes, bug fixes, or feature requests! All merged pull requests will be published

[2020-10-01 02:10] DevanshD3 commented on #725
Hey! What exactly is the issue/bug that needs to be fixed ?

[2020-10-01 02:40] alfg commented on #725
Hi @DevanshD3,

There's no outstanding issues/bugs at the moment, but feel free to submit a drink recipe. I'll be adding more feature requests throughout the month.

[2020-10-02 01:53] alfg opened #766 "Request: Fix typos in recipes"
Some recipes may have typos and grammar errors in their description or instructions. Feel free to send a PR to add a correction.

[2020-10-02 02:01] InternetRamen commented on #766
I would like to do this.

[2020-10-02 02:50] alfg commented on #766
Thanks @InternetRamen!

I'll be leaving this as an open issue for any further corrections for anyone to fix as well.

[2020-10-04 09:21] Torfab opened #804 "Share functionality on the recipe page"
It could be usefull to have a social share button in the single recipe page.

[2020-10-04 19:51] alfg commented on #804
I like this idea. Thanks for the suggestion.

[2020-10-04 21:03] Torfab opened #811 "Dark mode Anomalous behaviour when going into single recipe pages"
I just noticed that light theme flash for an instant before going into dark mode on single recipe pages.

[2020-10-04 21:06] Torfab opened #812 "Print page hasn't got the toggle for dark theme"
Maybe the correct behaviour is to turn off dark mode for the print page to save ink?!?

[2020-10-04 23:29] alfg commented on #812
I tried printing with the dark mode enabled and it still appears to print with the white background. Same goes when I tested printing to a PDF.

[2020-10-05 00:46] Torfab commented on #812
Perfect, considering it only a client-side feature, I think we should add the toggle anyway

[2020-10-05 19:22] Benjur274 commented on #804
Hi, can i work on this issue or is it done ? Thank you. @alfg @Torfab

[2020-10-05 19:25] alfg commented on #804
Hi @Benjur274 There is currently a pull request pending.

[2020-10-06 01:45] #804 closed

[2020-10-06 16:51] #812 closed

[2020-10-07 15:58] swai-collins commented on #766
Would also like to fix this

[2020-10-11 02:30] KevinLu commented on #811
Can you describe which browser you used? I'm trying on Firefox 81.0.1 on Win10 and cannot reproduce this.

[2020-10-11 04:08] alfg commented on #811
I'm also on Firefox 81.0.1/Win10, and I see the light theme flash while navigating between recipes.

[2020-10-11 15:48] KevinLu commented on #811
Ah yes, now I see it when I navigate between recipe pages.

[2020-10-12 05:32] alfg commented on #811
Fixed on #859

[2020-10-12 05:32] #811 closed

[2020-10-12 19:44] aycer25 commented on #766
Would it be possible for me to contribute to this issue as well?

[2020-10-12 20:26] alfg commented on #766
@aycer25 If you find any errors to correct, feel free to submit a pull request.

[2020-10-14 20:57] FionaFR commented on #725
Can you please add #hacktoberfest-accepted for this issue?

[2020-10-15 00:19] alfg commented on #725
Hi @FionaFR,

According to the guidelines, as long as the repository is tagged `hacktoberfest` and the PR is merged, then it will be accepted.
https://hacktoberfest.digitalocean.com/details#details

You can confirm your progress at:
https://hacktoberfest.digitalocean.com/profile

[2020-10-15 07:22] alfg opened #882 "Add a drink! 🍸"
Add your drink recipes by forking and submitting a pull request.

Be sure to check out the [Contributing Guidelines ](https://github.com/alfg/opendrinks/blob/master/CONTRIBUTING.md )before submitting a pull request. :)

Happy hacking!

[2020-10-16 23:12] bibliofilo commented on #766
So I went through the list of **keywords** in https://opendrinks.io/keyword, and found a bunch that could be cleaned up. I might take them on category by category over the weekend (or if someone else wants to use these as inspiration for a pull request, go for it) but here they are for discussion first.

**Standardizing and adding special characters:**
_[stays the same <-- changed]_
alcoholic <--

[2020-10-19 17:27] archi15 commented on #882
Please review my PR #907. Thanks!

[2020-10-24 15:39] alivapriyadarshini5 commented on #882
Added Cold Coffe recipe #939

[2020-10-27 00:08] ch1771dr0b0 commented on #882
Added The Bengal Tiger recipe.

[2020-10-29 01:11] #882 closed

[2020-10-29 01:57] kristina-hager commented on #766
@bibliofilo - cleaning up brute force sounds great!
has anyone given thought/looked into enforcing matters such as these with a json validator of some sort?
this would be enforcing a schema, but it also seems possible to set a list of allowed keywords, etc to avoid such misspelling issues.
Also, I have seen a few PRs have comments such as missing 'measure' field in the ingredients list. This can b

[2020-10-29 03:39] alfg commented on #766
@kristina-hager We added a validation script last year to check the schema of the recipe, but it can probably be improved on since it doesn't seem to catch everything. It runs as part of the tests. Good idea on common misspellings too.

https://github.com/alfg/opendrinks/tree/master/scripts

[2020-10-29 03:43] alfg opened #977 "[Hacktoberfest] Add a Drink Recipe!"
Just a few days left of Hackoberfest 2020! Add your drink recipes by forking and submitting a pull request.

We're looking to build a collection of drink recipes (and categories) of all types! View the website at:
https://opendrinks.io

Also, be sure to check out the [Contributing Guidelines ](https://github.com/alfg/opendrinks/blob/master/CONTRIBUTING.md)for the JSON spec and image sizing before

[2020-10-29 05:04] bibliofilo commented on #766
@alfg @kristina-hager, I don't know how useful a suggestion it'd be, but a script that checked against existing Keywords and flagged new ones for review might be helpful. Or against common drink ingredients. I went through and did a second round of fixes a few days ago, here's the combined lists for any script that might need them. Here's the reasoning behind some of the non-misspelling fixes to m

[2020-10-29 13:37] strawberries73 commented on #725
Hello,  I am new.  I would like to work on this.

[2020-10-29 15:06] strawberries73 commented on #725
Also I would like to fix some of the recipes for consistency.   I used to be a chef so I think the recipes should be displayed the same way.

[2020-10-29 18:35] Sumit2399 commented on #977
Hi @alfg,can I contribute?

[2020-10-29 19:44] alfg commented on #977
@Sumit2399 Go for it!

[2020-10-29 19:58] Sumit2399 commented on #977
Hi @alfg.Added a PR for the same issue.
Hoping for merge soon!

[2020-10-29 22:27] alfg commented on #725
Feel free to submit a recipe or add corrections, @strawberries73!

[2020-10-30 02:30] strawberries73 commented on #725
Thank you, I hope you don't mind that I did both.  And hopefully I have resolved the conflict.

[2020-11-01 06:28] #766 closed

[2020-11-01 06:28] alfg commented on #725
Thanks all!

[2020-11-01 06:28] #725 closed

[2020-11-01 06:29] #977 closed

[2021-10-01 01:53] alfg opened #1051 "Welcome to Hacktoberfest 2021! 🎃"
![Hacktoberfest_final_2color-06 copy](https://user-images.githubusercontent.com/702541/135552704-4fae106c-4f9c-4aa1-969e-e7b60852769b.png)

# Welcome to [Hacktoberfest](https://hacktoberfest.digitalocean.com/) 2021!

We're looking for contributors to submit a drink recipe of their choice! Also feel free to suggest any **changes**, **bug fixes**, or **feature requests**! All merged pull requests wi

[2021-10-01 03:41] sagar-monga commented on #1051
Please assign Harvey Wallbanger.

[2021-10-01 12:04] zichi opened #1069 "Current page does not take filtration into account"
**Describe the bug**
When you are in the explorer view and go to page 6 for example and then filter on keywords, if there are fewer pages of results than the current it doesn't move to a page with content.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/explore'
2. Go to page 6
3. Select a narrow filter - eg. 'Filters => Add keyword  => Mocktail'
4. Page is now empty

**Expected beha

[2021-10-01 18:52] alfg commented on #1069
@zichi Good find and thanks for the fix on #1070.

[2021-10-01 18:52] #1069 closed

[2021-10-02 05:29] s-sasaki-0529 commented on #711
Is this issue still active?

I'd like to use [vue-i18n](https://kazupon.github.io/vue-i18n/) to solve this.
I'm Japanese, so I'll translate to Japanese first, but I'll also make it easy to translate to other languages.

[2021-10-02 05:49] alfg commented on #711
@s-sasaki-0529 yes it's still active. Feel free to give it a try!

[2021-10-02 11:28] Torfab opened #1088 "Change the Share layout in a multiple button styles"
**Is your feature request related to a problem? Please describe.**

At the moment the shares buttons are tied with a dropdown (not compliant with dark mode) with some anchor elements, it leads to a weird behaviour where you can click just outside the text and miss the share functionality, plus it's an obsolete way to share contents

**Describe the solution you'd like**
I propose to change the "sha

[2021-10-02 19:30] alfg commented on #1088
Hey @Torfab, agreed and feel free to work on this. Thank you.

[2021-10-03 08:45] Nightowl-8 commented on #1051
can you tplease tell what exactly i have to do?

[2021-10-03 18:41] alfg commented on #711
Added via #1090. Thanks @s-sasaki-0529!

I'll open a follow-up issue for adding more languages support.

[2021-10-03 18:41] #711 closed

[2021-10-03 18:42] alfg commented on #1051
Hi @Nightowl-8, follow the [Contribution Guidelines](https://github.com/alfg/opendrinks/blob/master/CONTRIBUTING.md) for adding a recipe. Or feel free to find any bugs to fix.

[2021-10-03 20:01] Nightowl-8 commented on #1051
Thanks @alfg

[2021-10-03 22:20] alfg opened #1097 "Support more language translations"
`i18n` is now supported via #711 and #1090.  We're looking for contributors to support more language translations.

We currently have support for languages:
* English - `en`
* Japanese - `ja`

Each component now has a `i18n` block to add in the translations for the appropriate language code. For example:
[code]

Feel free to submit a PR to support another language. Thanks!

[2021-10-04 10:42] DanTcheche commented on #1097
Hi, I can add the Spanish translation, I also think it would be better to have all translations in a single file so in the future is easier to add new languages. I can also do that if you want.
Please assign the issue to me if you want to proceed.

Thank you!

[2021-10-04 16:41] imtheu commented on #1097
Hi, i can add the Brazilian Portuguese translation, please assign the issue to me too if you want to proceed.

Btw, I think I agree a bit with what DanTcheche said about the single file

[2021-10-04 19:06] manueldose commented on #1051
Hi! Can i add a cocktail recipe ?

[2021-10-05 10:38] Xelaflash commented on #1097
working on French translation too

[2021-10-05 16:19] alfg commented on #1097
Thanks all. Feel free to make the PR and I will review once I can.

[2021-10-05 20:57] bitsam opened #1122 "PR #1112 not flowing through"
Can you please look at PR#1112 and advise why it is stuck?

[2021-10-07 01:45] bitsam commented on #1122
New  PR submitted

[2021-10-07 02:08] alfg commented on #1088
#1099

[2021-10-07 02:08] #1088 closed

[2021-10-07 02:12] alfg commented on #1051
@manueldose yes go ahead and submit a PR with a new recipe.

[2021-10-09 19:10] appledora commented on #1097
Hi, I would like to add Bengali but confused about the process. Can someone elaborate?

[2021-10-09 20:48] OscarRG commented on #1097
Hello i would like to add a german translation

[2021-10-13 17:06] kamerat opened #1178 "Missing translations for keyword search input"
Since #1169 is merged, some already translated languages is missing this key.
The goal of this issue is to track the existing languages that has this key missing to hopefully attract some PR's to patch this.

The file in question: [src/views/KeywordList.vue](https://github.com/alfg/opendrinks/blob/master/src/views/KeywordList.vue)
Key missing translation: `Enter your keyword`.

Please reference th

[2021-10-13 17:22] kamerat commented on #1178
If you have the time and motivation, feel free to submit a PR;
(People who previously submitted a i18n based PR)
@KamaZz, @appledora, @CharleneHoogkamer, @theishanbh, @DanTcheche, @Xelaflash, @OscarRG, @s-sasaki-0529

[2021-10-13 19:38] alfg commented on #1178
Awesome. Thanks for this @kamerat.

[2021-10-13 19:48] suprabhat25 opened #1182 "Bottom to Top Button"
I noticed there is no **bottom to top button**. Since the content on the page is huge, implementing this button will ease the users to go to the top by just clicking on it. Hence, it will enhance the UX on this website.

[2021-10-13 20:29] alfg commented on #1182
Sounds good if anyone wants to give this a try.

[2021-10-16 13:32] goodgodth commented on #1097
i would like to add Thai translation.

[2021-10-18 15:52] vitorguima commented on #1178
@kamerat Ok, I'm working on it and adding portuguese to other parts of the code.

[2021-11-02 00:15] alfg commented on #1097
Thanks for the contributions, everyone!

[2021-11-02 00:15] #1097 closed

[2021-11-02 00:15] #1182 closed

[2021-11-02 00:17] alfg commented on #1051
Thanks for the contributions, all! See you next year!

[2021-11-02 00:17] #1051 closed

[2022-10-14 07:33] rudrakshkarpe commented on #1178
I'd like to add English-Marathi Translations if you allow me